.music-player {
  border-radius: 5px;
  margin-top: 93px;

  .anticon {
    font-size: 20px;
    margin-right: 8px;
    cursor: pointer;
  }
  .audio-container {
    color : #fff;
    margin-bottom: 40px;
    border: 1px solid #fff;
    .controls {
      display: flex;
      width: 150px;
      height: 80px;
      justify-content: space-around;
      align-items: center;

      .anticon:hover {
        color: dimgray;
      }

      .anticon-play-circle-o, .anticon-pause-circle-o {
        flex-grow: 2;
        font-size: 30px;
      }
    }
  }

  .lyric-container {
    color: aliceblue;
    border: 1px solid #fff;
    max-height: 400px;
    overflow: hidden;
    font-size: larger;

    .lyric-item {
      &.active {
        color: #cca645;
        font-weight: bold;
        font-size: large;
      }

      .time-text {
        display: inline-block;
        margin-right: 15px;
      }
    }
  }
}
