.music-player {

  background: #fff;

  .anticon {
    font-size: 20px;
    margin-right: 8px;
    cursor: pointer;
  }
  .audio-container {
    .controls {
      display: flex;
      width: 150px;
      height: 80px;
      justify-content: space-around;
      align-items: center;

      .anticon:hover {
        color: dimgray;
      }

      .anticon-play-circle-o, .anticon-pause-circle-o {
        flex-grow: 2;
        font-size: 30px;
      }
    }
  }

  .lyric-container {
    .lyric-item {
      &.active {
        background: gray;
        color: red;
      }
    }
  }
}
